@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,569;1,569&family=Silkscreen:wght@400;700&family=Tiny5&display=swap');

.weather {
    width: 300px;
    border-radius: 10px;
    box-shadow: 7px 7px 2px  rgba(0, 0, 0, 0.192);
    margin: 20px auto;
    padding: 20px;
    position: absolute;
    top:30%;
    left: 43%;
    border: 2px solid #333;
    background-color: #F7E997;
}


.weather-icon {
    width: 300px;
    height: 350px;
    margin-bottom: -10px;
    margin-top: 20px;
}

.bottom-box {
  width: 100%;
  height: 65px;
  background-color: #D9D9D9;
  color: #140b0b;
  text-align: center;
  line-height: 40px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  left: 0;

}

.bottom-text1 {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    
}

.city {
    padding: 13px 0% ;
    margin-left: -15px;
    font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.temperature {
    transform: translateX(-10px);
    font-size: x-large;
    margin-top: 15px;
    font-family: "Tiny5", sans-serif;
  font-weight: 600;
  font-style: normal;
}



.speech-box {
  width: 95%;
  height: 60px;
  background-color: #ffffffe1;
  color: #140b0b;
  text-align: center;
  line-height: 50px;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  left: 9px;
 
 
}

.persona-message{
    font-family: "Tiny5", sans-serif;
     font-weight: 600;
    font-style: normal;
    line-height: 20px;
    font-size: x-large;
    align-items: center;
}
